<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.YOUR_NAME.rwake</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>
            cd REPO_ROOT
            ABSOLUTE_PYTHON_PATH REPO_ROOT/extra_features/rwake/rwake.py 
        </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
